---
interface DropdownLink {
  href: string;
  text: string;
}

const { links }: { links: DropdownLink[] } = Astro.props;
let isOpen = false;
---

{
  isOpen && (
    <ul class="nav-bar__dropdown-menu">
      {links.map((link) => (
        <li>
          <a href={link.href}>{link.text}</a>
        </li>
      ))}
    </ul>
  )
}

<script type="module">
  const dropdown = document.currentScript.closest("ul").previousElementSibling;
  dropdown.addEventListener("click", () => {
    isOpen = !isOpen;
  });
</script>
