---
import Button from "../ui/Button.astro";
---

<nav class="nav-bar">
  <div class="nav-bar__container">
    <a href="/" class="nav-bar__logo" aria-label="Home">
      <img src="/images/PVLogo.png" alt="" height="48px" width="117px" />
      <!-- <picture> <source srcset="/images/epic-drk.webp" type="image/webp" /> <source srcset="/images/epic-drk.png" type="image/png" /> <img src="/images/epic-drk.png" alt="Epic Tails logo" height="50" width="100" /> </picture> -->
    </a>

    <button class="nav-bar__hamburger" aria-label="Toggle navigation">
      <img src="/icons/hamburger.svg" alt="hamburger icon" />
    </button>

    <div class="nav-bar__links">
      <ul>
        <li><a href="/" class="nav-bar__link">Home</a></li>
        <li class="nav-bar__dropdown">
          <a href="/products" class="nav-bar__link nav-bar__link--products">
            Products
            <img
              src="/icons/caret-lt-down.svg"
              alt=""
              class="nav-bar__caret"
              width="20px"
              height=" 20px"
            />
          </a>
          <ul class="nav-bar__dropdown-menu">
            <li>
              <a
                href="/products/solar-roller-shades"
                class="nav-bar__dropdown-link">Solar / Roller Shades</a
              >
            </li>
            <li>
              <a
                href="/products/cellular-pleated-shades"
                class="nav-bar__dropdown-link">Cellular / Pleated Shades</a
              >
            </li>
            <li>
              <a
                href="/products/sheer-layered-shades"
                class="nav-bar__dropdown-link">Sheer / Layered Shades</a
              >
            </li>
            <li>
              <a
                href="/products/wood-faux-blinds"
                class="nav-bar__dropdown-link">Wood / Faux Blinds</a
              >
            </li>
            <li>
              <a href="/products/shutters" class="nav-bar__dropdown-link"
                >Shutters</a
              >
            </li>
            <li>
              <a href="/products/natural-shades" class="nav-bar__dropdown-link"
                >Natural Shades</a
              >
            </li>
            <li>
              <a href="/products/roman-shades" class="nav-bar__dropdown-link"
                >Roman Shades</a
              >
            </li>
            <li>
              <a href="/products/draperies" class="nav-bar__dropdown-link"
                >Draperies</a
              >
            </li>
            <li>
              <a href="/products/exterior-shades" class="nav-bar__dropdown-link"
                >Exterior Shades</a
              >
            </li>
          </ul>
        </li>
        <li><a href="/services" class="nav-bar__link">Services</a></li>
        <li><a href="/about" class="nav-bar__link">About</a></li>
        <li><a href="/projects" class="nav-bar__link">Projects</a></li>
        <li><a href="/contact" class="nav-bar__link">Contact</a></li>
      </ul>
      <div class="nav-bar__book-now">
        <Button href="/contact" color="primary" bordered variant="nav"
          >Get a Free Quote</Button
        >
      </div>
    </div>
  </div>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    height: 72px;
    width: 100%;
    z-index: 1000;
  }

  .nav-bar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1300px;
  }

  .nav-bar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav-bar__hamburger {
    height: 35px;
    width: 35px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }

  .nav-bar__links {
    display: none;
  }

  .nav-bar__links.active {
    display: flex;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    height: 85vh;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    background-color: var(--primary);
  }

  .nav-bar__links a {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--white);
  }

  .nav-bar__links a:hover {
    font-weight: 700;
  }
  .nav-bar__links > ul > li > a:hover {
    color: var(--neutral);
  }

  .nav-bar__links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    margin-bottom: 10px;
  }

  .nav-bar__link--products {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 8px;
  }
  .nav-bar__caret {
    width: 10.54px;
    height: 6.25px;
    transition: transform 0.2s ease;
  }

  .nav-bar__dropdown {
    position: relative;
  }

  .nav-bar__dropdown .nav-bar__dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    padding: 0;
    margin: 0;
  }

  .nav-bar__dropdown:hover .nav-bar__dropdown-menu {
    display: block;
  }

  .nav-bar__dropdown-menu li a {
    display: block;
    padding: 10px 20px;
  }

  .nav-bar__dropdown-menu li a:hover {
    background-color: var(--primary);
    color: var(--white);
  }

  .nav-bar__book-now {
    padding-top: 50px;
  }

  @media (min-width: 768px) {
    nav {
      padding: 0px 40px;
    }
  }

  @media (min-width: 820px) {
    nav {
      padding: 0px 60px;
    }

    .nav-bar__hamburger {
      display: none;
    }

    .nav-bar__book-now {
      padding-top: 0;
    }

    .nav-bar__links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      position: static;
      height: auto;
      padding: 0;
      background: var(--white);
    }

    .nav-bar__links ul {
      flex-direction: row;
      justify-content: flex-end;
      margin: 0 10px 0 0;
    }

    .nav-bar__links li {
      margin: 0 10px;
    }
    .nav-bar__links a {
      font-size: 1.2rem;
    }
  }

  @media (min-width: 1200px) {
    nav {
      padding: 0px 100px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.querySelector(".nav-bar__hamburger");
    const dropdownNav = document.querySelector(".nav-bar__links");
    const mediaQuery = window.matchMedia("(min-width: 992px)");

    if (hamburger && dropdownNav) {
      // Event listener for the hamburger menu click
      hamburger.addEventListener("click", () => {
        dropdownNav.classList.toggle("active");
      });

      mediaQuery.addEventListener("change", (e) => {
        if (e.matches) {
          // Remove active class if the viewport is 992px or wider
          dropdownNav.classList.remove("active");
        }
      });

      // Initial check for viewport width
      if (mediaQuery.matches) {
        dropdownNav.classList.remove("active");
      }
    }
  });
</script>
