---
import InfoCard from "../ui/InfoCard.astro";
import { infoCardsAbout } from "../../data/info-cards.ts";
import Button from "../ui/Button.astro";
---

<section class="lp-about">
  <div class="lp-about__container container">
    <div class="lp-about__image-container">
      <img
        src="/images/about-lp-dsk.png"
        alt="About Image"
        class="lp-about__image"
      />
    </div>
    <div class="lp-about__content">
      <h2 class="lp-about__title">
        Family-Owned Craftsmanship, 15 Years Strong and Proud
      </h2>
      <div class="lp-about__paragraph">
        <p>
          We’re a local, family-run business delivering beautiful, custom window
          coverings with personalized service and professional precision.
        </p>
        <p>
          At PerfectView, our passion lies in transforming interiors with
          stunning window treatments. From design to installation, we ensure
          comfort, beauty, and lasting value in every space we touch.
        </p>
      </div>

      <div class="lp-about__cards">
        {
          infoCardsAbout.map((card) => (
            <InfoCard
              icon={card.icon}
              title={card.title}
              text={card.text}
              headerClass={card.headerClass}
            />
          ))
        }
      </div>
      <Button href="/about" color="secondary" bordered variant="default"
        >Get to Know Our Story</Button
      >
    </div>
  </div>
</section>

<style>
  .lp-about {
    padding: 60px 0;
  }

  .lp-about__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .lp-about__paragraph {
    padding: 24px 0;
  }

  .lp-about__paragraph p:first-child {
    padding-bottom: 12px;
  }

  .lp-about__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
  }

  /* --- Media Queries --- */

  @media (min-width: 690px) {
    .lp-about__title {
      width: 100%;
    }
    .lp-about__cards {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: stretch;
      gap: 16px;
      padding-bottom: 32px;
    }
  }
  @media (min-width: 1024px) {
    .lp-about__container {
      flex-direction: row;
      align-items: center;
      gap: 64px;
    }
    .lp-about__image-container {
      width: 50%;
    }
    .lp-about__content {
      width: 630px;
    }
  }
</style>
