---
import Button from "../ui/Button.astro";
---

<section class="lp-about">
  <div class="lp-about__container">
    <div class="lp-about__image-container">
      <img
        src="/images/about-lp-mbl.png"
        alt="About Image"
        class="lp-about__image"
      />
    </div>
    <div class="lp-about__content">
      <h2 class="lp-about__title">
        Family-Owned Craftsmanship, 15 Years Strong and Proud
      </h2>
      <p class="lp-about__text">
        We’re a local, family-run business delivering beautiful, custom window
        coverings with personalized service and professional precision.
        <br />
        <br />At PerfectView, our passion lies in transforming interiors with
        stunning window treatments. From design to installation, we ensure
        comfort, beauty, and lasting value in every space we touch.
      </p>
      <Button href="/about" color="secondary" bordered variant="default"
        >Get to Know Our Story</Button
      >
    </div>
  </div>
</section>
