---
import Main from "../layouts/Main.astro";
---

<Main title="About PerfectView">
  <div class="about">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit provident
    perferendis nihil saepe sapiente quisquam omnis, labore aut eum in!
  </div>
</Main>
