---
import Main from "../layouts/Main.astro";
import Hero from "../components/sections/landing/Hero.astro";
import AboutMission from "../components/sections/shared/AboutMission.astro";
import LandingProducts from "../components/sections/landing/LandingProducts.astro";
import { landingProductsData } from "../data/landing-products-data";
import LandingServices from "../components/sections/landing/LandingServices.astro";
import ContactForm from "../components/ContactForm.astro";
// import Carousel from "../components/Carousel.astro";
import Carousel from "../components/ui/Carousel.astro";
import WhyUs from "../components/sections/WhyUs.astro";

const images = [
  { src: "/images/Hero.png", alt: "Pic 1" },
  { src: "/images/Hero.png", alt: "Pic 2" },
  { src: "/images/Hero.png", alt: "Pic 3" },
  { src: "/images/Hero.png", alt: "Pic 4" },
  { src: "/images/Hero.png", alt: "Pic 5" },
];
---

<Main title="PerfectView">
  <Hero />
  <AboutMission />
  <LandingProducts
    heading="Custom Window Coverings for Every Space"
    subheading="Explore our full range of beautiful window treatments designed for comfort, privacy, and style—expertly measured, designed, and installed to fit your home or commercial space perfectly."
    items={landingProductsData}
    activeIndex={-1}
  />
  <LandingServices />

  <!-- <Carousel images={images} gap={16} circleBg="rgba(255,255,255,0.92)" /> -->
  <WhyUs />
  <Carousel images={images} gap={16} circleBg="rgba(255,255,255,0.92)" />
  <ContactForm />
</Main>
