---
import Main from "../layouts/Main.astro";
import LandingHero from "../components/sections/landing/LandingHero.astro";
import AboutMission from "../components/sections/shared/AboutMission.astro";
import LandingProducts from "../components/sections/landing/LandingProducts.astro";
import WhyUs from "../components/sections/landing/WhyUs.astro";
import CTABannerSplit from "../components/sections/shared/CTABannerSplit.astro";
import LandingServices from "../components/sections/landing/LandingServices.astro";
import ContactFull from "../components/sections/shared/ContactFull.astro";
import Testimonials from "../components/sections/shared/Testimonials.astro";
import CTABannerCenter from "../components/sections/shared/CTABannerCenter.astro";

import { bannerLPData } from "../data/banner-data";
---

<Main title="PerfectView">
  <LandingHero />
  <AboutMission />
  <LandingProducts />
  <WhyUs />
  <ProductChoosing />
  <CTABannerSplit image={bannerLPData.image} content={bannerLPData.content} />

  <LandingServices />
  <ContactFull />
  <Testimonials />
  <CTABannerCenter />
</Main>
