---
import Main from "../layouts/Main.astro";
import LandingHero from "../components/sections/landing/LandingHero.astro";
import AboutMission from "../components/sections/shared/AboutMission.astro";
import LandingProducts from "../components/sections/landing/LandingProducts.astro";
import WhyUs from "../components/sections/landing/WhyUs.astro";
import CTABannerSplit from "../components/sections/shared/CTABannerSplit.astro";
import LandingServices from "../components/sections/landing/LandingServices.astro";
import ContactFull from "../components/sections/shared/ContactFull.astro";
import Testimonials from "../components/sections/shared/Testimonials.astro";
import CTABannerCenter from "../components/sections/shared/CTABannerCenter.astro";
import ProductChoosing from "../components/sections/products/ProductsChoosing.astro";
import { landingProductsData } from "../data/lp-products-data";
import { bannerLPData } from "../data/banner-data";
---

<Main title="PerfectView">
  <LandingHero />
  <AboutMission />
  <LandingProducts
    heading="Custom Window Coverings for Every Space"
    subheading="Explore our full range of beautiful window treatments designed for comfort, privacy, and style—expertly measured, designed, and installed to fit your home or commercial space perfectly."
    items={landingProductsData}
    activeIndex={-1}
  />
  <WhyUs />
  <ProductChoosing />
  <CTABannerSplit image={bannerLPData.image} content={bannerLPData.content} />

  <LandingServices />
  <ContactFull />
  <Testimonials />
  <CTABannerCenter />
</Main>
