---
import Button from "../../ui/Button.astro";

import { getCloudinarySrc } from "../../../config/cloudinary";

const productsHeroImg = getCloudinarySrc(
  "sheer-1-crop_y4fgif",
  "png",
  "v1761593821",
);
---

<section class="products-hero" aria-labelledby="products-hero-title">
  <div class="products-hero__container container">
    <!-- LEFT -->

    <div class="products-hero__image-container">
      <img
        src={productsHeroImg}
        alt="Cellular shades installed above a sofa with pillows"
        class="products-hero__image"
        width="1280"
        height="975"
        loading="eager"
        decoding="async"
        fetchpriority="high"
      />
    </div>

    <!-- RIGHT -->
    <div class="products-hero__content">
      <h2 id="products-hero-title">
        Transform Your Spaces with Beautiful Window Treatments
      </h2>

      <div class="products-hero__paragraph">
        <p class="p-subheader">
          See your home in a whole new light. From selection to installation, we
          guide you to windows you'll love waking up to every day.
        </p>
        <p>
          Explore our wide selection of window coverings including Roman shades,
          cellular shades, and custom blind solutions. Every product is crafted
          to enhance your home's aesthetic while providing light control,
          privacy, and energy efficiency. We offer professional measurement and
          installation to ensure perfect fit and performance.
        </p>
      </div>

      <div class="products-hero__cta">
        <Button href="/products#product-gallery" color="secondary"
          >Get to Know Our Products</Button
        >
      </div>
    </div>
  </div>
</section>

<style>
  .products-hero__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .products-hero__image-container {
    display: block;
    max-width: 100%;
  }

  .products-hero__image-container picture,
  .products-hero__image {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  .products-hero__content h2 {
    padding-bottom: 16px;
  }

  .products-hero__paragraph {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .products-hero__paragraph p:first-child {
    padding-bottom: 0;
  }

  .products-hero__cta {
    margin-top: 32px;
  }

  /* --- Media Queries  --- */

  @media (min-width: 768px) {
    .products-hero__image-container picture,
    .products-hero__image {
      height: 500px;
      width: 100%;
      object-fit: cover;
      object-position: center 65%;
    }
  }

  @media (min-width: 1024px) {
    .products-hero__container {
      flex-direction: row;
      align-items: center;
      gap: 64px;
    }
    .products-hero__image-container {
      width: 50%;
    }
    .products-hero__image-container picture,
    .products-hero__image {
      height: auto;
    }
    .products-hero__content {
      width: 630px;
    }
  }
</style>
