---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<img id="background"  alt="" fetchpriority="high" />
	<main>
		<h1 class="test-font">
			Beautiful Window Coverings Beautifully Crafted for You
		</h1>

		<h2>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nam quibusdam unde quo, cumque suscipit doloribus modi! Iste, officiis nulla.
		</h2>

		<h3 class="small-heading">Overiding shit</h3>
	</main>


</div>

<style>
	h1 {
		color: green;
	}
</style>
