<section class="service-areas">
  <div class="service-areas__container container">
    <div class="service-areas__content">
      <h2></h2>
      <p></p>
    </div>
    <div class="service-areas__image">
      <img src="" alt="" />
    </div>
  </div>
</section>
