---
import TrustCards from "../../ui/TrustCards.astro";
---

<section class="trust-banner">
  <div class="trust-banner__bkrd"></div>
  <div class="trust-banner__container container">
    <div class="trust-banner__cards">
      <TrustCards />
    </div>
    <p>
      For further information, please don’t hesitate to reach out using the
      contact form on the top.
    </p>
  </div>
</section>

<style>
  .trust-banner {
    background-color: var(--secondary);
  }
</style>
