<footer class="footer">
  <div class="footer__top">
    <div class="footer__columns">
      <!-- Column 1 -->
      <div class="footer__column footer__column--brand">
        <!-- Temp image -->
        <img
          src="/images/PVLogo.png"
          alt="PerfectView Logo"
          height="80px"
          width="194px"
          class="footer__logo"
        />
        <p class="footer__description">
          PerfectView Window Coverings is a local, family-owned business serving
          Utah’s Wasatch Front with expert window treatment solutions and
          exceptional customer care.
        </p>
        <div class="footer__social">
          <a
            href="https://www.facebook.com/profile.php?id=61577185517312"
            class="footer__social-link"
            aria-label="
            Facebook
            Link"
            title="Visit our Facebook page"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/icons/fb-20.svg"
              alt="White Facebook Icon for PerfectView"
              class="footer__social-icon"
              height="16"
              width="16"
            />
          </a>
          <a
            href="https://www.instagram.com/perfectviewutah/"
            aria-label="Instagram Link"
            class="footer__social-link"
            title="Visit our Instagram page"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/icons/insta-20.svg"
              alt="White Instagram Icon for PerfectView"
              class="footer__social-icon"
              height="16"
              width="16"
            />
          </a>
        </div>
      </div>

      <!-- Column 2 -->
      <div class="footer__column">
        <h3 class="footer__heading big-heading">Quick Links</h3>
        <ul class="footer__links">
          <li><a href="/products" class="footer__link">Proucts</a></li>
          <li><a href="/services" class="footer__link">Services</a></li>
          <li><a href="/about" class="footer__link">About</a></li>
          <li><a href="/projects" class="footer__link">Projects</a></li>
          <li><a href="/contact" class="footer__link">Contact</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="footer__column">
        <h3 class="footer__heading big-heading">Top Services</h3>
        <ul class="footer__links">
          <li>
            <a href="/services" class="footer__link"
              >Professional Installation</a
            >
          </li>
          <li><a href="/services" class="footer__link">Design Guidance</a></li>
          <li>
            <a href="/contact" class="footer__link">Free Consultation / Quote</a
            >
          </li>
          <li>
            <a href="/services" class="footer__link">Motorized Solutions</a>
          </li>
        </ul>
      </div>

      <!-- Column 4 -->
      <div class="footer__column">
        <h3 class="footer__heading big-heading">Contact</h3>
        <ul class="footer__links">
          <li class="footer__contact-item">
            <img
              src="/icons/phone-10.svg"
              alt="Phone Icon"
              class="footer__icon"
              width="20px"
              height="20px"
            />
            <a href="tel:+18016001973" class="footer__link">(801) 600-1973</a>
          </li>
          <li class="footer__contact-item">
            <img
              src="/icons/message-10.svg"
              alt="Envelope Icon"
              class="footer__icon"
              width="20px"
              height="20px"
            />
            <a href="mailto:perfectviewutah@outlook.com" class="footer__link"
              >perfectviewutah@outlook.com</a
            >
          </li>
          <li class="footer__contact-item">
            <img
              src="/icons/pin-10.svg"
              alt="Location Pin Icon"
              class="footer__icon"
              width="20px"
              height="20px"
            />
            <span class="footer__link footer__link--text">
              Proudly serving Northern Utah and surrounding areas
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Divider Line -->
  <div class="footer__divider"></div>

  <!-- Bottom Row -->
  <div class="footer__bottom">
    <p class="footer__copy">&copy; 2025 PerfectView. All rights reserved.</p>
    <div class="footer__legal">
      <a href="#" class="footer__legal-link">Terms of Service</a>
      <a href="#" class="footer__legal-link">Privacy Policy</a>
    </div>
  </div>
</footer>

<style>
  .footer {
    padding: 60px 35px;
    height: auto;
    width: 100%;
    background-color: var(--primary);
  }

  .footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__column {
    /* display: flex;
    flex-direction: column;
    justify-content: start; */
    padding-bottom: 24px;
  }

  .footer__description {
    color: var(--grey-10);
    padding: 20px 0;
  }

  .footer__social {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding-bottom: 24px;
  }

  .footer__social-link {
    border: 1px solid var(--grey-20);
    border-radius: 50%;
    padding: 8px;
  }

  .footer__social-icon {
  }

  .footer__heading.big-heading {
    color: var(--white) !important;
    padding-bottom: 24px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
  }

  .footer__link {
    color: var(--grey-10);
  }
</style>
