---
import Main from "./Main.astro";
import PageHeader from "../components/sections/shared/PageHeader.astro";
import CTABannerCenter from "../components/sections/shared/CTABannerCenter.astro";

export interface Props {
  title: string;
  heading: string;
  breadcrumbItems: Array<{
    label: string;
    href?: string;
  }>;
}

const { title, heading, breadcrumbItems } = Astro.props;
---

<Main title={title}>
  <PageHeader heading={heading} breadcrumbItems={breadcrumbItems} />
  <slot />
  <CTABannerCenter />
</Main>
