---
import TopBanner from "../components/shells/TopBanner.astro";
import Navigation from "../components/shells/Navigation.astro";
import Footer from "../components/shells/Footer.astro";

import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <TopBanner />
    <hr class="divider" />
    <Navigation />
    <slot />
 
    <Footer />
  </body>
</html>

<style></style>
