---
export interface Props {
  heading: string;
  breadcrumbItems: Array<{
    label: string;
    href?: string;
  }>;
}

const { heading, breadcrumbItems } = Astro.props;
---

<section class="page-header">
  <div class="page-header__img"></div>
  <div class="page-header__overlay"></div>
  <div class="page-header__container">
    <nav class="page-header__breadcrumb" aria-label="Breadcrumb">
      <ol>
        {
          breadcrumbItems.map((item, index) => (
            <li>
              {item.href ? (
                <a href={item.href}>{item.label}</a>
              ) : (
                <span aria-current="page">{item.label}</span>
              )}
              {index < breadcrumbItems.length - 1 && (
                <span class="breadcrumb__separator">/</span>
              )}
            </li>
          ))
        }
      </ol>
    </nav>
    <h1 class="page-header__heading">{heading}</h1>
  </div>
</section>

<style>
  .page-header {
    position: relative;
    width: 100%;
    background-color: var(--secondary);
  }

  .page-header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/geometric.svg");
    background-size: 400%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: 1;
  }

  .page-header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgb(36, 66, 86) 50%,
      rgba(36, 66, 86, 0) 100%
    );

    z-index: 2;
  }

  .page-header__container {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding: clamp(40px, 8vw, 50px) clamp(16px, 5vw, 64px);
    width: 100%;
    z-index: 3;
  }

  .page-header__breadcrumb ol {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 8px 0;
    gap: 8px;
    font-size: var(--fs-body-r);
  }
  .page-header__breadcrumb li,
  .page-header__breadcrumb a {
    color: var(--white);
  }

  .breadcrumb__separator {
    margin-left: 8px;
    color: var(--white);
  }

  @media (min-width: 1024px) {
    .page-header__img {
      background-size: cover;
    }
  }

  @media (min-width: 1200px) {
    .page-header__img {
      background-size: cover;
    }
  }
</style>
