---
interface Props {
  color?: "secondary" | "neutral" | "nav";
  href?: string;
  type?: "button" | "submit" | "reset";
  variant?: "default" | "nav";
}

const { color = "secondary", href = "", type = "button" } = Astro.props;

const colorClass = {
  secondary: "btn-secondary",
  neutral: "btn-neutral",
  nav: "btn-nav",
}[color];
---

{
  href ? (
    <a href={href} class={`btn ${colorClass}`}>
      <slot />
    </a>
  ) : (
    <button type={type} class={`btn ${colorClass}`}>
      <slot />
    </button>
  )
}

<style>
  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    font-family: var(--ff-body);
    font-weight: var(--fw-bold);
    line-height: 100%;
    letter-spacing: 0%;
    gap: 4px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    box-sizing: border-box;
    opacity: 1;
    flex-shrink: 0;
    min-height: 46px;
    transition: all 0.2s ease;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  .btn:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .btn-nav {
    padding: 16px 28px !important;
  }

  .btn-secondary {
    background-color: var(--secondary);
    color: var(--white);
  }

  .btn-secondary:hover {
    background-color: var(--secondary-lt);
  }

  .btn-neutral {
    background-color: var(--neutral-lighter);
    color: var(--primary);
    border: none !important;
  }
  .btn-neutral:hover {
    background-color: #e2dacc;
    color: var(--primary);
  }
  .btn-nav {
    background-color: var(--secondary);
    color: var(--white);
  }

  .btn-nav:hover {
    background-color: var(--secondary-lt);
  }

  @media (min-width: 992px) {
    .btn-nav {
      background-color: var(--primary);
      color: var(--white);
      border: 1px solid var(--grey-50);
    }

    .btn-nav:hover {
      background-color: var(--secondary);
    }
  }
</style>
