---
const { quote, initial, author, role } = Astro.props;
---

<div class="testimonial-card">
  <p class="testimonial-card__quote">{quote}</p>

  <div class="testimonial-card__divider">
    <img
      class="testimonial-card__quote-icon"
      src="/images/mini-quotes.svg"
      alt="dark deal quotation marks"
    />
    <div class="testimonial-card__line"></div>
  </div>

  <div class="testimonial-card__user">
    <div class="testimonial-card__avatar">
      <span class="testimonial-card__initial">{initial}</span>
    </div>
    <div class="testimonial-card__info">
      <div class="testimonial-card__name">{author}</div>
      <div class="testimonial-card__role">{role}</div>
    </div>
  </div>
</div>
