<ul class="trust-cards" role="list">
  <li class="trust-cards__card">
    <img
      src="/icons/contact-family.svg"
      width="32"
      height="32"
      alt="white outlined family icon"
      loading="lazy"
      aria-hidden="true"
    />
    <p>Family Owned</p>
  </li>
  <li class="trust-cards__card">
    <img
      src="/icons/contact-location.svg"
      width="32"
      height="32"
      alt="white outlined pin on map icon"
      loading="lazy"
      aria-hidden="true"
    />
    <p>Serving Northern Utah &amp; Beyond</p>
  </li>
  <li class="trust-cards__card">
    <img
      src="/icons/contact-phone.svg"
      width="32"
      height="32"
      alt="white outlined phone icon"
      loading="lazy"
      aria-hidden="true"
    />
    <p>(801) 555-1234</p>
  </li>
</ul>

<style>
  .trust-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .trust-cards__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-light);
    padding: 24px 12px;
    gap: 12px;
  }

  .trust-cards__card p {
    color: var(--grey-10);
    margin: 0;
    text-align: center;
  }

  @media (min-width: 900px) {
    .trust-cards {
      grid-template-columns: repeat(3, 1fr);
    }

    .trust-cards__card {
      justify-content: start;
    }
  }
</style>
